.ProductPage__products{
  flex-direction: column;
  display: grid;
  grid-template-columns: repeat(2,minmax(min-content,1fr));
  gap: 2rem;
  margin-bottom: 4.8rem;
  word-break: break-all;

}
.ProductPage__Filter{
  display: flex;
  margin-bottom: 2rem;
  gap: 5rem;
  justify-content: center;
}
.Filter__input{
  padding: 3rem;
  border-radius: 1rem;
  border: none;
  flex: 0.5;
  font-size: 2rem;
}
.Filter__createNewProductBtn{
  font-size: 2rem;
  border-radius: 1rem;
}
.orangeButton{
  padding: 1rem;
  font-weight: 700;
  font-size: 2rem;
  border-radius: 1rem;
  border: none;
  background: orange;
  color: black;
  transition: all .15s;
}
.orangeButton:hover{
  transform: scale(1.1);
}
.ProductPage__showMoreButton{
  justify-self: start;
  margin-left: 1rem;
  margin-bottom: 1rem;
}

