/* You can add global styles to this file, and also import other style files */
body{
  margin: 0;
  background: #131313;
}
*{
  box-sizing: border-box;
}
a{
  text-decoration: none;
  color: initial;
}
html{
  font-size: 62.5%;
}
input:focus,
input:active{
  border: none;
  outline: none;
}
.orangeButton{
  padding: 1rem;
  font-weight: 700;
  font-size: 2rem;
  border-radius: 1rem;
  border: none;
  background: orange;
  color: black;
  transition: all .15s;
}
.orangeButton:hover{
  transform: scale(1.1);
}
