.Navigation{
  min-height: 5rem;
  margin: 0;
  font-size: 2.5rem;
  padding: 1rem;
background: orange;
  margin-bottom: 1rem;
}
.Navigation__storeInfo{
  display: flex;
  gap: 2rem;

}
a,p{
  color: white;
}
.Navigation a:hover,
.Navigation p:hover{
  color: black;
  cursor: pointer;
}
.container{;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
